---
layout: page
# All the Categories of posts
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}

{% assign group_index = 0 %}

{% assign sort_categories = site.categories | sort %}

{% for category in sort_categories %}
  {% assign category_name = category | first %}
  {% assign posts_of_category = category | last %}

  <div class="card categories">
    <!-- top-category -->
    <div
      id="{{ HEAD_PREFIX }}{{ group_index }}"
      class="card-header d-flex justify-content-between hide-border-bottom"
      data-bs-toggle="collapse"
      data-bs-target="#{{ LIST_PREFIX }}{{ group_index }}"
      aria-expanded="false"
    >
      <span class="ms-2">
        <i class="far fa-folder fa-fw"></i>

        {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
        <a href="{{ _category_url | relative_url }}" class="mx-2">{{ category_name }}</a>

        {% assign top_posts_size = posts_of_category | size %}
        <span class="text-muted small font-weight-light">
          {{ top_posts_size }}
          {% if top_posts_size > 1 %}
            {{ site.data.locales[lang].categories.post_measure.plural | default: 'posts' }}
          {% else %}
            {{ site.data.locales[lang].categories.post_measure.singular | default: 'post' }}
          {% endif %}
        </span>
      </span>
    </div>

    <!-- Posts of the Category -->
    <div id="{{ LIST_PREFIX }}{{ group_index }}" class="collapse" aria-expanded="true">
      <ul class="list-group">
        {% for post in posts_of_category %}
          <li class="list-group-item">
            <i class="far fa-file fa-fw"></i>
            <a href="{{ post.url | relative_url }}" class="mx-2">{{ post.title }}</a>
            <span class="text-muted small font-weight-light">
              {% include datetime.html date=post.date wrap='span' class='text-muted' lang=lang %}
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  {% assign group_index = group_index | plus: 1 %}
{% endfor %}

